.topbar .details {
  float: right;
  line-height: 18px;
  padding: 10px 0 11px;
}

.topbar .details img {
  height: 20px;
  margin-right: 5px;
  vertical-align: bottom;
}

.container.main {
  padding-top: 60px;
}

