%h1 About Ghostcar

%p Ghostcar takes your actions a year ago on Foursquare, and replays them in the present day: checking in, saying what it's up to. It's like the <a href='http://en.wikipedia.org/wiki/Ghost_(video_gaming)#Ghosts_in_racing_games'>ghost car</a> in <i>Ridge Racer</i> or countless other racing games: an immaterial rendering of historical action, playing out at the same time as current action.

%p Ghostcar requires <i>two</i> Foursquare accounts. The first is your main, primary account, that's going to be echoed into the past. The second is a new account you should make, perhaps appending your surname to something like "Jones A Year Ago" or "Jones In The Past". This account should be as private as possible - in its privacy settings, it should not be able to earn mayorships, appear in the public list of people in a venue, or tell venue managers it's there. It's a ghost, just for you, and anyone else you'd like to see it.

%p To that end, make sure you friend your historical self!

%p Ghostcar is currently in <b>early alpha</b>. Which means: it's a miracle it even works. You might find bugs. Email them to #{link_to "Tom", "mailto:tom@infovore.org"} if you find them.

%hr

%h2 Acknowledgements

%p Thanks must go to the following:

%ul
  %li
    = link_to "James Wheare,", "http://jouire.com/"
    whose excellent
    = link_to "Twitshift", "http://twitshift.com"
    inspired this applicaton and the sign-up process.
  %li
    = link_to "Matt Jones,", "http://magicalnihilism.com/"
    for inadvertantly coining the name <code>ghostcar</code>.