.row

  %h2 Step 1: Sign in with Foursquare.

  %p You should sign in with your main Foursquare account: the account you want to chase the ghost car of.

  - if session[:access_token]
    %img{:src => current_gc_user.picture_url}
    Logged in as
    %i= current_gc_user.name
  - else
    %p= link_to image_tag("connect.png"), @authorize_url

  - if session[:access_token]
    %h2 Step 2: Sign out of Foursquare and create a <i>new</i> account. 
    
    %p This will be a secret account of yours that lives in the past: the ghost car.

    %h2 Step 3: Authorize <code>ghostcar</code> to send updates from your second, ghost account.

    %p BUTTON HERE.
